@import url('https://fonts.googleapis.com/css?family=Karla');

h1 {
  font-family: 'Karla';
}

.jumbotron {
  padding-top: 0;
  margin-bottom: 0;
  height: 547px;
  background-image: url('images/hero_image.png');
  background-size: 100%;
  color: #fff;
  text-align: center;
  h1 {
    max-width: 648px;
    margin: 0 auto;
    margin-top: 110px;
    font-weight: bold;
    font-size: 58px;
    text-transform: uppercase;
    line-height: 60px;
  }
  a.btn {
    background: none;
    border-radius: 0;
    border: 4px solid #fff;
    text-transform: uppercase;
    box-shadow: none;
    font-family: 'Karla';
    font-size: 13px;
    padding: 9px;
    width: 141px;
    margin-top: 18px;
  }
  p.tagline {
    max-width: 534px;
    margin: 0 auto;
    padding: 26px;
    font-size: 20px;
  }
  nav.navbar {
    padding-top: 20px;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    ul.nav {
      margin-left: 40px;
      a {
        font-family: 'Karla';
        color: #fff;
        text-transform: uppercase;
        padding: 14px 34px;
      }
    }
    ul.nav.navbar-right a {
      text-decoration: underline;
    }
    a.navbar-brand {
      padding: 0;
      img {
        max-height: 100%;
      }
    }
  }
}

.section-services {
  background-color: #374252;
  h1 {
    padding: 50px 0 0 0;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .row {
    padding: 50px;
  }
  .col-sm-6 {
    padding: 0 45px;
    h2 {
      color: #fff;
      font-family: 'Karla';
      text-transform: uppercase;
      padding-top: 3px;
    }
    p {
      padding-top: 20px;
      color: #fff;
    }
    div {
      padding: 0px 0px 0px 85px;
    }
    .services-one {
      background: url('images/services_one.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .services-two {
      background: url('images/services_two.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .services-three {
      background: url('images/services_three.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .services-four {
      background: url('images/services_four.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.section-how-it-works {
  h1 {
    padding: 50px 0;
    color: #374252;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .rounded-block {
    margin: 0 auto;
    border: 6px solid;
    border-radius: 100px;
    margin-bottom: 15px;
    padding: 0 50px;
    height: 118px;
    border-color: #dedfdf;
    color: #dedfdf;
    &.active {
      border-color: #25bea1;
      color: #25bea1;
    }
    &.block-1 {
      width: 925px;
    }
    &.block-2 {
      width: 825px;
    }
    &.block-3 {
      width: 725px;
    }
    &.block-4 {
      width: 625px;
    }
    &.block-5 {
      width: 525px;
    }
    h2 {
      font-family: 'Karla';
      text-transform: uppercase;
      font-weight: bold;
      font-size: 60px;
      text-align: center;
    }
    .col-sm-8 {
      height: 106px;
      p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }
    }
  }
}
